
Importing packages

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns


Importing Dataset

In [ ]:
import os
from google.colab import files
uploaded=files.upload()

Saving Social_Network_Ads.csv to Social_Network_Ads.csv


Load .csv file into a DataFrame

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['Social_Network_Ads.csv']))


Display Dataframe

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0


Check for Null Values in the dataset

In [ ]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64


Dataset Stats

In [ ]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000


Label Encoding for the string values

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df.Gender=le.fit_transform(df.Gender)

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0


Splitting dataset into features and output

In [ ]:
X = df.drop(['User ID','Purchased'], axis=1)
y = df['Purchased']

Standardizing Data

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
scaled_data = scaler.transform(X)
scaled_data = pd.DataFrame(scaled_data, columns= X.columns)
scaled_data.head()

     Gender       Age  EstimatedSalary
0  1.020204 -1.781797        -1.490046
1  1.020204 -0.253587        -1.460681
2 -0.980196 -1.113206        -0.785290
3 -0.980196 -1.017692        -0.374182
4  1.020204 -1.781797         0.183751


Splitting dataset into training data and testing data

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(scaled_data,y, train_size=0.8,random_state=0)


Applying Logistic Regression and checking score

In [14]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
print(logreg.score(X_test,y_test))

0.9125


Checking prediction for a specific case

In [15]:
pred_arr=pd.DataFrame({'Gender': [0],'Age':[32],'EstimatedSalary':[150000]})
logreg.predict(pred_arr)

array([1])