**Applying Linear Regression on an Insurance dataset to predict the charges for a customer based on their attributes.**

Importing packages

In [ ]:
import numpy as np 
import pandas as pd 
import os
import seaborn as sns

Importing Dataset

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving insurance.csv to insurance.csv

Load .csv file into a DataFrame

In [ ]:
import io
df = pd.read_csv(io.BytesIO(uploaded['insurance.csv']))

Display Dataframe

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Check for Null Values in the dataset

In [ ]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Dataset Stats

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

Label Encoding for the string values

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df.sex=le.fit_transform(df.sex)
df.smoker=le.fit_transform(df.smoker)
df.region=le.fit_transform(df.region)

In [ ]:
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

Checking correlation between charges and other attributes

In [ ]:
df.corr()['charges']

age         0.299008
sex         0.057292
bmi         0.198341
children    0.067998
smoker      0.787251
region     -0.006208
charges     1.000000
Name: charges, dtype: float64

Splitting dataset into training data and testing data

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x = df.drop(['charges'], axis = 1)
y = df.charges

Applying Linear Regression and checking score

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.90,random_state=0)
lr=LinearRegression().fit(x_train,y_train)
print(lr.score(x_test,y_test))

0.8215430369031267

Checking prediction for a specific case

In [33]:
pred_arr=pd.DataFrame({'age': [60],'sex':[0],'bmi':[25.84],'children':[0],'smoker':[0],'region':[1]})
lr.predict(pred_arr)

array([11871.35647236])